@font-face{
    font-family: yekan;
    src: url("../Fonts/yekan.woff");
}
body{
    font-family: yekan;
    font-weight: 100;
    font-size: 12pt;
}
p{
    color: green;
}
#name{
    color: red;
}
.a{
    text-decoration: underline;
}
picbox{
    background-image: url("../image/BackGround.jpg");
    /* width: 300px; */
    height: 500px;
    background-repeat: no-repeat;
    /*background-repeat: repeat-x;
    background-repeat: repeat-y;*/
    background-color: gray;
    display: block;
    background-size: 48px 48px;
    background-size: contain;
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center left;
    opacity: .7;
    border-bottom: 4px solid red;
    border-radius: 25px;
}
text-size{
    width: 600px;
    height: 400px;
    background-color: gray;
    display: block;
    margin: 0 auto;
}
text-size child{
    width: calc(100% - 100px);
    height: 100%;
    background-color: red;
    display: block;
    margin: 16px;
    padding: 16px;
    outline: 1px solid blue;
}
h1{
    text-align: justify;
    direction: rtl;
}